<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subtitle Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Video</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="video_language"><b><i>Video Language:</i></b></label>
            <select name="video_language" id="video_language">
                <option value="hi-IN">Hindi</option>
                <option value="en-US">English</option>
                <option value="fr">French</option>
                <option value="ar">Arabic</option>
                <option value="as">Assamese</option>
                <option value="bn">Bengali</option>
                <option value="bh">Bhojpuri</option>
                <option value="bg">Bulgarian</option>
                <option value="zn">Chinese</option>
                <option value="zn-Hans">Chinese (Simplified)</option>
                <option value="zn-Hant">Chinese (Traditional)</option>
                <option value="nl">Dutch</option>
                <option value="de">German</option>
                <option value="el">Greek</option>
                <option value="gu">Gujarati</option>
                <option value="id">Indonesian</option>
                <option value="it">Italian</option>
                <option value="ja">Japanese</option>
                <option value="kh">Kannada</option>
                <option value="ks">Kashmiri</option>
                <option value="ko">Korean</option>
                <option value="la">Latin</option>
                <option value="ml">Malayalam</option>
                <option value="mr">Marathi</option>
                <option value="ne">Nepali</option>
                <option value="fa">Persian</option>
                <option value="pa">Punjabi</option>
                <option value="ru">Russian</option>
                <option value="sa">Sanskrit</option>
                <option value="sd">Sindhi</option>
                <option value="es">Spanish</option>
                <option value="ta">Tamil</option>
                <option value="te">Telugu</option>
                <option value="tr">Turkish</option>
                <option value="ur">Urdu</option>
                <option value="cy">Welsh</option>
                <option value="vi">Vietnamese</option>
                <!-- Add more language options as needed -->
            </select>
            <br><b><i>
            <label for="file-upload" class="custom-file-upload">
                <i class="fas fa-cloud-upload-alt"></i> Choose File
            </label>
            <input id="file-upload" type="file" name="file">
            <button type="submit">Upload</button></i></b>
        </form>
        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}
        {% if video_path %}
        <h2>Uploaded Video:</h2>
        <a href="{{ url_for('uploaded_file', filename=video_path|basename) }}" target="_blank">Watch Video</a>
        {% endif %}
        {% if subtitle_path %}
        <h2>Generated Subtitles:</h2>
        <div>
            <textarea rows="10" cols="50" readonly>{{ subtitles }}</textarea>
        </div>
        <h2>Modify Subtitles:</h2>
        <form method="POST" action="{{ url_for('download_modified_subtitles', filename=subtitle_path|basename) }}">
            <textarea name="modified_subtitles" rows="10" cols="50">{{ subtitles }}</textarea>
            <br>
            <button type="submit">Download Modified Subtitles</button>
        </form>
        {% endif %}
    </div>
</body>
</html>
